<div class="container">
  <div class="row">
    <div class='col-md-4 col-sm-offset-4 '>
      
      <div class="panel panel-primary">
        <div class="panel-heading">Editar Usuario</div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.label :nombre %>
              <%= f.text_field :nombre , autofocus: true, :class => "form-control", :placeholder => "Nombre y Apellido" %>
            </div>
            
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, :class => "form-control", :placeholder => "Correo", autofocus: true %>
            </div>
          
            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Actualmente se espera la confirmacion del correo: <%= resource.unconfirmed_email %></div>
            <% end %>
          
            <div class="form-group">
              <%= f.label :password %> <i>(Dejar en blanco si no desea cambiar la contrasena)</i><br />
              <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password" %>
              <% if @minimum_password_length %>
                <em><%= @minimum_password_length %> caracteres como minimo</em>
              <% end %>
            </div>
          
            <div class="form-group">
              <%= f.label :password_confirmation  %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "Confirmacion de password" %>
            </div>
          
            <div class="form-group">
              <%= f.label :current_password %> <i>(Ingrese su contrasena actual para guardar los cambios)</i><br />
              <%= f.password_field :current_password, autocomplete: "off", :class => "form-control", :placeholder => "Password Actual" %>
            </div>
          
            <div class="form-group">
              <%= f.submit "Actualizar", :class => "btn btn-success form-control" %>
            </div>
          <% end %>
          
        </div>
        <div class="panel-footer">
          <%= link_to "Regresar", :back %>
        </div>
      </div>
    </div>
  </div>
</div>





