<div class="container-fluid">
  <div class="row" id="div-account">
    <div class="col-md-3">
      <div>
        <a href="#" class="thumbnail">
          <%= image_tag("profiles/user1_profile.jpg", :alt => "rss feed") %>
        </a>
      </div>
      <div class="list-group">
        <a href="javascript:;" data-id="account-profile" class="list-group-item">
          MIS DATOS <%= @usuario.nombre %>
        </a>
        <a href="javascript:;" data-id="account-reserves" class="list-group-item">
          <span class="badge">0</span>
          MIS RESERVAS
        </a>
        <a href="javascript:;" data-id="account-parkings" class="list-group-item active">
          <span class="badge"><%= @parking.size %></span>
          MIS PARQUEOS
        </a>
        <a href="javascript:;" data-id="account-favorites" class="list-group-item">
          <span class="badge">0</span>
          MIS FAVORITOS
        </a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-primary hidden" id="account-profile">
        <div class="panel-heading text-center"><strong>Actuaizar mis datos</strong></div>
        <div class="panel-body">
          
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Nombres y Apellidos:</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Correo:</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="panel panel-primary hidden" id="account-reserves">
        <div class="panel-heading text-center"><strong>LISTA DE RESERVAS REALIZADAS</strong></div>
        <div class="panel-body">
          <table class="table table-bordered">
            <tr>
              <th class='col-md-2'>Título</th>
              <th class='col-md-5'>Descripción</th>
              <th class='col-md-3'>Dirección</th>
              <th class='col-md-2'></th>
            </tr>
            
          </table>
        </div>
      </div>
      <div class="panel panel-primary " id="account-parkings">
        <div class="panel-heading text-center"><strong>LISTA DE PARQUEOS REGISTRADOS</strong></div>
        <div class="panel-body">
          <button type="button" class="btn btn-success" id="btn-new-parking">
            <i class="fa fa-plus" aria-hidden="true"></i> Nuevo Parqueo
          </button>

          <br> <br>

          <table class="table table-bordered">
            <tr>
              <th class='col-md-2'>Título</th>
              <th class='col-md-5'>Descripción</th>
              <th class='col-md-1'>CostoxDía</th>
              <th class='col-md-1'>CostoxMes</th>
              <th class='col-md-1'>CostoxAño</th>
              <th class='col-md-2'></th>
            </tr>
            <% @parking.each do |park| %>
              <tr>
                <td><%= park.titulo %></td>
                <td><%= truncate(park.descripcion, :length => 100) %></td>
                <td><%= park.costo_dia %></td>
                <td><%= park.costo_mes %></td>
                <td><%= park.costo_anho %></td>
                <td class="text-center">
                  <button type="button" data-id="<%= park.id %>" class="btn btn-primary btn-edit-parking">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                  &nbsp;
                  <button type="button" data-id="<%= park.id %>" class="btn btn-danger btn-delete-parking">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </tr> 
            <%end%>
          </table>
        </div>
      </div>
      <div class="panel panel-primary hidden" id="account-favorites">
        <div class="panel-heading text-center"><strong>LISTA DE PARQUEOS FAVORITOS</strong></div>
        <div class="panel-body">

          <table class="table table-bordered">
            <tr>
              <th class='col-md-2'>Título</th>
              <th class='col-md-5'>Descripción</th>
              <th class='col-md-3'>Dirección</th>
              <th class='col-md-2'></th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
<%= javascript_include_tag 'account_list_parking' %>
<% end %>