<% content_for :stylesheets do %>
<%= stylesheet_link_tag 'parkings' %>
<% end %>
<div class="container-fluid">
  <div class="navbar-search text-center">
    <form class="form-inline" method="GET" action="/parkings">
      <div class="form-group">
        <input type="text" name="direccion" class="form-control" placeholder ="Direccion" />
      </div>
      
      <div class="form-group">
        <select class="form-control" name="distrito">
          <option value="0">:: Todos ::</option>
          <% @district.each do |district| %>
            <option value="<%= district.id %>">
              <%= district.nombre %>
            </option>
          <% end %>
        </select>
      </div>
      
      <div class="form-group">
        <button class="btn btn-success">Buscar</button>
      </div>
    </form>
  </div>
  
  <div class="">
    <input type="text" id="lat_centro" value="<%= @district_search.lat_centro %>" />
    <input type="text" id="lon_centro" value="<%= @district_search.lon_centro %>"/>
    <input type="text" id="district_id" value="<%= params[:distrito] %>"/>
  </div>
  
  
  <div class="row">
    <div class="col-sm-7" style="height:550px" id="div-mapa">
      
    </div>
    <div class="col-sm-5" id="list-search">
      <%
      if @parking 
        @parking.each do |park| %>
          <div class="row col-principal">    
            <div class="col-sm-5">
              <div class="content-params-parkings">
                <i data-favorite-id="<%= park.favorite_id %>" class="fa <% if park.favorite_id  %>fa-heart <% else %> fa-heart-o<% end %> icon-favorite" data-id="<%= park.id %>" aria-hidden="true"></i>
              </div>
              <a href="<%= parking_path( park.id ) %>">
                <%= image_tag 'parqueo1.jpg' , :class=> 'img-responsive'%>
              </a>
            </div>
            <a href="<%= parking_path( park.id ) %>">
              <div class="col-sm-7 text-justify">
              <div>
                <label><strong>Título:</strong></label>
                <span class="titulo"><%= park.titulo %></span>
              </div>
              <div>
                <label><strong>Dirección:</strong></label>
                <span class="direccion">Calle Londres #361...</span>
              </div>
              <div>
                <label for=""><strong>Descripción:</strong></label>
                <span> <%= truncate( park.descripcion, :length =>100 ) %> </span>
              </div>
              <div class="row">
                <div class="col-sm-4 text-center">
                  <strong>Día </strong>
                  <p>
                    S/. <%= park.costo_dia %>
                  </p>
                </div>
                <div class="col-sm-4 text-center">
                  <strong>Mes </strong>
                  <p>
                    S/. <%= park.costo_mes %>
                  </p>
                </div>
                <div class="col-sm-4 text-center">
                  <strong>Año </strong>
                  <p>
                    S/. <%= park.costo_anho %>
                  </p>
                </div>
              </div>
            </div>
            </a>
            <input type="text" class="latitud" value="<%= park.latitud %>" />
            <input type="text" class="longitud" value="<%= park.longitud %>"/>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>  
<% content_for :javascript do %>
<%= javascript_include_tag 'list_parkings' %>
<% end %>