<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        <h3><%= @parking.titulo %></h3>
      </div>
      <div>
        <i class="fa fa-map-marker" aria-hidden="true"></i> 
        <strong>
          <i>
            Dirección: Calle # 361  
          </i>
        </strong>
      </div>
    </div>
  	<div class="panel-body">
  	  
  	  <div class="row">
  	    
  	    <!-- IZQUIERDA -->
  	    <div class="col-md-8">
  	      <h4>Descripción:</h4>
  	      <div>
  	        <%= @parking.descripcion %>
  	      </div>
  	      <br>
  	      <h4>Características:</h4>
  	      <div id="list-caracteristicas">
  	        <ul class="fa-ul">
              <li><i class="fa-li fa fa-check-square"></i>Camaras de seguridad</li>
              <li><i class="fa-li fa fa-check-square"></i>Luces de emergencia</li>
            </ul>
  	      </div>
  	      
  	      <br>
  	      <h4>Términos de Renta:</h4>
  	      <div>
  	        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, temporibus, ratione, eveniet, quae obcaecati dolor sequi distinctio sint officiis deleniti a veritatis maiores adipisci dolorum deserunt tempore nesciunt totam enim! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, temporibus, ratione, eveniet, quae obcaecati dolor sequi distinctio sint officiis deleniti a veritatis maiores adipisci dolorum deserunt tempore nesciunt totam enim! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, temporibus, ratione, eveniet, quae obcaecati dolor sequi distinctio sint officiis deleniti a veritatis maiores adipisci dolorum deserunt tempore nesciunt totam enim!
  	      </div>
  	    </div>
  	    
  	    <!-- DERECHA -->
  	    
  	    <div class="col-md-4">
  	      <div class="panel panel-primary">
  	        <div class="panel-heading">
  	          Reserva
  	        </div>
  	        <div class="panel-body">
  	          <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#tab-reserva-dias" aria-controls="tab-reserva-dias" role="tab" data-toggle="tab">Días</a></li>
                  <li role="presentation"><a href="#tab-reserva-meses" aria-controls="tab-reserva-meses" role="tab" data-toggle="tab">Meses</a></li>
                  <li role="presentation"><a href="#tab-reserva-anhos" aria-controls="tab-reserva-anhos" role="tab" data-toggle="tab">Años</a></li>
                </ul>
              
                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="tab-reserva-dias">
                    <form>
                      <div class="form-group">
                        <h4>
                          Precio: S/. <%= @parking.costo_dia %>
                        </h4>
                      </div>
                      <hr />
                      <div class="form-group">
                        <label class="control-label">Fecha Inicio</label>
                        <input type="date" class="form-control" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Fecha Fin</label>
                        <input type="date" class="form-control" />
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-success form-control">Reservar</button>
                      </div>
                    </form>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab-reserva-meses">
                    <form>
                      <div class="form-group">
                        <h4>
                          Precio: S/. <%= @parking.costo_mes %>
                        </h4>
                      </div>
                      <hr />
                      <div class="form-group">
                        <label class="control-label">Fecha Inicio</label>
                        <input type="date" class="form-control" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Fecha Fin</label>
                        <input type="date" class="form-control" />
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-success form-control">Reservar</button>
                      </div>
                    </form>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab-reserva-anhos">
                    <form>
                      <div class="form-group">
                        <h4>
                          Precio: S/. <%= @parking.costo_anho %>
                        </h4>
                      </div>
                      <hr />
                      <div class="form-group">
                        <label class="control-label">Fecha Inicio</label>
                        <input type="date" class="form-control" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Fecha Fin</label>
                        <input type="date" class="form-control" />
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-success form-control">Reservar</button>
                      </div>
                    </form>
                  </div>
                </div>
              
              </div>
  	        </div>
  	      </div>
  	      
  	    </div>
  	  </div>
  	  
  	  <!-- Espacio para el mapa -->
  	  <br>
  	  <br>
  	  <div class="row">
    	  <div id="div-mapa" class="col-md-6" style="height: 400px">
    	  </div>
  	    <div class="col-md-6">
	        <div class="carousel slide article-slide" id="article-photo-carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner cont-slider">
          
              <div class="item active">
                <img alt="" title="" src="http://placehold.it/600x400">
              </div>
              <div class="item">
                <img alt="" title="" src="http://placehold.it/600x400">
              </div>
              <div class="item">
                <img alt="" title="" src="http://placehold.it/600x400">
              </div>
              <div class="item">
                <img alt="" title="" src="http://placehold.it/600x400">
              </div>
            </div>
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li class="active" data-slide-to="0" data-target="#article-photo-carousel">
                <img alt="" src="http://placehold.it/250x180">
              </li>
              <li class="" data-slide-to="1" data-target="#article-photo-carousel">
                <img alt="" src="http://placehold.it/250x180">
              </li>
              <li class="" data-slide-to="2" data-target="#article-photo-carousel">
                <img alt="" src="http://placehold.it/250x180">
              </li>
              <li class="" data-slide-to="3" data-target="#article-photo-carousel">
                <img alt="" src="http://placehold.it/250x180">
              </li>
            </ol>
          </div>
	      </div>
  	  </div>
  	</div>
  </div>
</div>
