<% content_for :stylesheets do %>
<%= stylesheet_link_tag 'detail_parking' %>
<% end %>
<div class="container">
  
  <input type="hidden" value="<%= @parking.id %>" id="parkings_id" />
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="text-center">
        <h3><%= @parking.titulo %></h3>
      </div>
      <div>
        <i class="fa fa-map-marker" aria-hidden="true"></i> 
        <strong>
          <i>
            Dirección: <%= @parking.direccion %>
          </i>
        </strong>
      </div>
    </div>
  	<div class="panel-body">
  	  
  	  <div class="row">
  	    
  	    <!-- IZQUIERDA -->
  	    <div class="col-md-8">
  	      <h4>Descripción:</h4>
  	      <div>
  	        <%= @parking.descripcion %>
  	      </div>
  	      <br>
  	      <br>
  	      <h4>Términos de Renta:</h4>
  	      <div>
  	        <%= @parking.terminos_condiciones %>
  	      </div>
  	    </div>
  	    
  	    <!-- DERECHA -->
  	      <div class="col-md-4">
  	      <div class="panel panel-primary">
  	        <div class="panel-heading">
  	          Alquiler
  	        </div>
  	        <div class="panel-body">
  	          <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#tab-reserva-dias" aria-controls="tab-reserva-dias" role="tab" data-toggle="tab">Días</a></li>
                  <li role="presentation"><a href="#tab-reserva-meses" aria-controls="tab-reserva-meses" role="tab" data-toggle="tab">Meses</a></li>
                  <li role="presentation"><a href="#tab-reserva-anhos" aria-controls="tab-reserva-anhos" role="tab" data-toggle="tab">Años</a></li>
                </ul>
              
                <!-- Tab panes -->
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="tab-reserva-dias">
                    <form>
                      <div class="form-group">
                        <h4>
                          Precio: S/. <span id="costoDia"><%= @parking.costo_dia %></span>
                        </h4>
                      </div>
                      <hr />
                      <input type="hidden" class="tiempo" value="dias" />
                      <div class="form-group">
                        <label class="control-label">Fecha Inicio</label>
                        <input type="date" id="fechaInicio" class="form-control" />
                      </div>
                      
                      <div class="form-group">
                        <label class="control-label">Cantidad dias</label>
                        <input type="number" class="form-control" id="cantDias">
                      </div>
                      
                      <div class="form-group">
                        <label class="control-label">Fecha Fin</label>
                        <br>
                        <span id="fechaFin">fecha</span>
                      </div>
                      
                      <div class="form-group">
                        <label class="control-label">Monto a Pagar:</label>
                        <br>
                        S./ <span id="montoTotal">0</span>
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-success form-control btn-alquilar">Alquilar</button>
                      </div>
                    </form>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab-reserva-meses">
                    <form>
                      <div class="form-group">
                        <h4>
                          Precio: S/. <%= @parking.costo_mes %>
                        </h4>
                      </div>
                      <hr />
                      <input type="hidden" class="tiempo" value="meses" />
                      <div class="form-group">
                        <label class="control-label">Fecha Inicio</label>
                        <input type="date" class="form-control" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Fecha Fin</label>
                        <input type="date" class="form-control" />
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-success form-control btn-alquilar">Reservar</button>
                      </div>
                    </form>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab-reserva-anhos">
                    <form>
                      <div class="form-group">
                        <h4>
                          Precio: S/. <%= @parking.costo_anho %>
                        </h4>
                      </div>
                      <hr />
                      <input type="hidden" class="tiempo" value="anhos" />
                      <div class="form-group">
                        <label class="control-label">Fecha Inicio</label>
                        <input type="date" class="form-control" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Fecha Fin</label>
                        <input type="date" class="form-control" />
                      </div>
                      <div class="form-group">
                        <button type="button" class="btn btn-success form-control btn-alquilar">Alquilar</button>
                      </div>
                    </form>
                  </div>
                </div>
              
              </div>
  	        </div>
  	      </div>
  	      
  	    </div>
  	  </div>
  	  
  	  <!-- Espacio para el mapa -->
  	  <br>
  	  <br>
  	  <div class="row">
  	    <input type="hidden" value="<%= @parking.latitud %>" id='latitud' />
  	    <input type="hidden" value="<%= @parking.longitud %>" id='longitud' />
    	  <div id="div-mapa" class="col-md-6" style="height: 400px">
    	  </div>
  	    <div class="col-md-6">
	        <div class="carousel slide article-slide" id="article-photo-carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner cont-slider">
          
              <div class="item active">
                <img alt="" title="" src="http://placehold.it/600x400">
              </div>
              <div class="item">
                <img alt="" title="" src="http://placehold.it/600x400">
              </div>
              <div class="item">
                <img alt="" title="" src="http://placehold.it/600x400">
              </div>
              <div class="item">
                <img alt="" title="" src="http://placehold.it/600x400">
              </div>
            </div>
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li class="active" data-slide-to="0" data-target="#article-photo-carousel">
                <img alt="" src="http://placehold.it/250x180">
              </li>
              <li class="" data-slide-to="1" data-target="#article-photo-carousel">
                <img alt="" src="http://placehold.it/250x180">
              </li>
              <li class="" data-slide-to="2" data-target="#article-photo-carousel">
                <img alt="" src="http://placehold.it/250x180">
              </li>
              <li class="" data-slide-to="3" data-target="#article-photo-carousel">
                <img alt="" src="http://placehold.it/250x180">
              </li>
            </ol>
          </div>
	      </div>
  	  </div>
  	</div>
  </div>
</div>

<% content_for :javascript do %>
<%= javascript_include_tag 'detail_parking' %>
<% end %>